@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Raleway', 'Roboto Slab', 'Lato', 'Segoe UI',
    'Roboto', 'Oxygen', 'Merriweather', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    'Arial', 'compat', 'Montserrat', 'sans-serif', 'arial', 'source-sans-pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
